@mixin use-styles($theme) {
    --background-color: map-get($theme, background-color);
    --text-color: map-get($theme, text-color);
    --primary-color: map-get($theme, primary-color);
    --secondary-color: map-get($theme, secondary-color);
    --error-color: map-get($theme, error-color);
    --warn-color: map-get($theme, warn-color);
    --success-color: map-get($theme, success-color);
}
