$primary-teal: (
    50: #ebf9f9,
    100: #d4f2f2,
    200: #ade6e6,
    300: #82d9d9,
    400: #57cccc,
    500: #37b5b6,
    600: #2c9191,
    700: #216e6e,
    800: #164a4a,
    900: #0b2323,
    950: #061414
) !default;

$secondary-orange: (
    50: #fff0e5,
    100: #ffe0cc,
    200: #ffc299,
    300: #ffa366,
    400: #ff8533,
    500: #ff6500,
    600: #cc5200,
    700: #993d00,
    800: #662900,
    900: #331400,
    950: #190a00
) !default;

$error-red: (
    50: #fde2e2,
    100: #fbc5c5,
    200: #f88c8c,
    300: #f45252,
    400: #f11d1d,
    500: #c40c0c,
    600: #9f0a0a,
    700: #260202,
    800: #730707,
    900: #130101,
    950: #4d0505
) !default;

$purple-purple: (
    50: #f8effb,
    100: #f2e3f8,
    200: #e3c2ef,
    300: #d6a6e8,
    400: #c989e1,
    500: #bb6bd9,
    600: #a538cc,
    700: #7c289a,
    800: #511a65,
    900: #2a0e35,
    950: #140618
) !default;

$warn-yellow: (
    50: #fff9e5,
    100: #fff2cc,
    200: #ffe699,
    300: #ffd966,
    400: #ffc100,
    500: #fc3,
    600: #c90,
    700: #997300,
    800: #664d00,
    900: #332600,
    950: #191300
) !default;

$success-green: (
    50: #e6f9ee,
    100: #cdf4dd,
    200: #9feabe,
    300: #6dde9c,
    400: #3bd37a,
    500: #27ae60,
    600: #1f8a4b,
    700: #176839,
    800: #104727,
    900: #072112,
    950: #041109
) !default;

$neutral-black: (
    50: #eceeed,
    100: #d7dad8,
    200: #b2b8b4,
    300: #8a948d,
    400: #66706a,
    500: #424844,
    600: #363b37,
    700: #272b28,
    800: #1b1d1c,
    900: #0c0d0d,
    950: #070808
) !default;
